*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image:url("ttt.jpg");
    background-size: 100% 740px;

}
.contain{
    width: 350px;
    height: 450px;
    background-color:black;
    margin-left: 36%;
    margin-top: 8%;
    text-align: center;
    color:white;
    
}

.contain .text{
    position: relative;
    top: 7%;
    
}
.inp1{
    border: none;
    background-color:black;
    border-bottom: 3px solid white;
    width: 250px;
    font-size: 24px;
    margin-top: 40px;
    outline: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inp2{
    border: none;
    background-color:black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text button{
    width: 250px;
    height: 44px;
    background-color: aqua;
    color:  black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 20px;
}
button:hover{
    border: 3px solid aqua;
    color: white;
    font-size: 20px;
    background-color: black;

}
p{
    margin: 30px;
    font-size: 20px;
}
p span{
    color: aqua;
}